*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #778899;
}

a{
    text-decoration: none;
    color: aliceblue;
}

#map { 
    width: 35vw;
    height: 45vh;
    border-radius: 10px;
    margin:0 30px 0 100px;
}

main{
    display: flex;
    flex-direction: row;
    margin: 50px 50px 0 50px;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-left: 130px;
}

.formulario input{
    width: 25vw;
    height: 4vh;
    min-height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: solid black 2px;
    padding-left:10px ;
}

label{
    text-align: center;
}

.btn{
    margin-top: 10px;
    width: 8vw;
    height: 6vh;
    min-height: 35px;
    align-self: center;
    background-color: rgb(11, 115, 184);
    color: aliceblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(0, 84, 135);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.btn:active{
    border: solid rgb(11, 115, 184) 1px;
}

.btn-voltar{
    margin:0 40px;
}

.tabela {
    border-collapse: collapse;
    border:solid 1px #101822;
    background-color:  #ccd1d1 ;
    font-size: 12px;
    width: 70vw;
    margin-left: 200px;
}

.tabela-cabecalho th {
    background-color: #5dade2;
    padding: 8px;
    border: solid 1px #101822; 
}

#dados td {
    padding: 8px;    
    border:solid 1px #101822;
    background-color:  #ccd1d1 ;
}

.img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

#dados button{
    background: none; 
    border: none;
}

#msg{
    margin:15px 0 40px 0;
    text-align: center;
}

.pesquisar {
    display: flex;
    align-items: center;
    margin: 0 0 20px 430px;
}
.inp-pesquisar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 50px 0 0 50px;
    width: 350px;
    height: 30px;
}
.btn-enviar{
    border: none;
    background-color: #6482AD;
    border-radius:0% 50% 50% 0%;
    width: 40px; 
    height: 30px; 
    cursor: pointer;
}
.img-btn {
    width: 30px; 
    height: 30px; 
}

